*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

#wrapper{
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
    perspective:10px;
}

.container{
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    transform-style:preserve-3d;
    z-index:-1;
}

.background{
    transform:translateZ(-40px) scale(6);
}

.foreground{
    transform:translateZ(-20PX) scale(3);
}

.background,.foreground{
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    object-fit: contain;
}

h1{
    position: absolute;
    top:3rem;
    font-size:6rem;
    letter-spacing:4px;
    color:white;
    text-shadow:0 0 10px rgba(0,0,0,0.3);
}

section{
    background-color: rgb(45,45,45);
    color:white;
    padding:8rem 0;
}

.secHeading{
    font-size: 4rem;
    padding:0 14rem;
}

.text{
    font-size: 1.5rem;
    padding: 0 4rem;
    margin: 8rem 0;
}

.bg{
    position:relative;
    width:100%;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    height:60vh;
}

.desc{
    position:absolute;
    background-color: white;
    padding:0.5rem 0.5rem;
    top:50%;
    left:46%;
    transform:translate(-50) translate(-50%);
    color:black;
    font-size:1rem;
    font-weight:100;

}

.bg1{
    background-image: url(sport-1.jpg);
}

.bg2{
    background-image: url(sport-2.jpg);
}

.bg3{
    background-image: url(sport-3.jpg);
}